/* "Tamming" Box Modell with Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styling */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

/* Main-banner Section */

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png" alt="man wearing glasses");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
